/* tecnico.css */

body {
    background-color: #f6f8fb;
}

.card {
    border-radius: 12px;
    overflow: hidden;
}

/* tabla más moderna */
table.dataTable {
    border-collapse: collapse !important;
}

table.dataTable thead {
    background-color: #000000 !important;
    color: white;
}

table.dataTable thead th {
    border-bottom: none !important;
}

/* filas hover */
table.dataTable tbody tr:hover {
    background-color: #e6fffb !important;
}

/* buscador */
.dataTables_filter input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 5px;
}

/* paginación */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 6px !important;
    margin: 2px;
}